body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: auto;
  background-color: white;
  width: 100vw;
  height: 100vh;
}
body * {
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
};

#controls {
  display: flex;
  grid-gap: 0.5rem;
}
video {
  width: 800px;
  height: 600px;
  max-width: 100%;
  max-height: fit-content;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  border-radius: 6px;
  background-color: #3e9dff;
  cursor: pointer;
}
button:focus {
  outline: none;
}

button.red {
  background-color: rgb(168, 0, 0);
}

button.disabled {
  pointer-events: none;
  opacity: 0.5;
}